.signinSignup{
    height: 43rem;
}

.imageSection{
    height: 43rem;
}



.logo{
    position: inherit;
}


.semiCircleOne{
    height: 0.5rem;
    width: 1rem;
    border-radius: 10rem 10rem 0 0;
    background: #194BFB;
    transform: rotate(40deg);
    position: relative;
    top: -0.4rem;
    left: 0rem;  
    

}


.semiCircleTwo{
    height: 0.5rem;
    width: 1rem;
    border-radius: 10rem 10rem 0 0;
    background: #194BFB;
    transform: rotate(220deg);
    position: relative;
    margin: -6px;
    /* top: -7.5rem;
    left: 7rem; */
    

}

.google{
    border: 1px solid gray;
    color: green;
}