.line{
    width: 70%; 
   text-align: center; 
   border-bottom: 1px solid #d7dadf; 
   line-height: 0.1em;
   margin: auto; 
}

.text{
    background:#fff; 
    padding:0 10px;
}

.horizontal{
    margin: 1.5rem;
}
